#block-text.block
  .content
    %h2.title Vážení přátelé lesa,

    .inner
      %p.bigger dotazník zabývající se funkcemi lesa byl dočasně pozastaven. Další vlna šetření bude pravděpodobně spuštěna na začátku zimního semestru 2011/2012.

      %p.bigger Výsledky šetření budou zveřejněny na této webové stránce, jakmile budou zpracovány.

      %p.bigger Děkujeme Vám za Vaši návštěvu.

      %p.bigger Za výzkumný tým

      %p.bigger Ing. Vendula Pospíšilová

