#block-text.block
  .content
    %h2.title Základní informace o dotazníku

    .inner
      %p.bigger.justified Vážená respondentko/Vážený respondente. Hlavním námětem tohoto dotazníku je zjišťování významnosti funkcí lesa, zejména pak funkce rekreační. Dotazník se skládá z osmi krátkých otázek zabývajících se návštěvností lesa a monetárním oceňováním významnosti funkcí lesa. Vyplněním dotazníku se i vy stáváte součástí širokého výzkumného týmu a my Vám za to děkujeme. Výzkumné šetření je zcela anonymní.

      %p.bigger.justified Tento dotazník byl zpracován na základě spolupráce vědeckých pracovníků a studentů doktorského studia Fakulty lesnické a dřevařské a Provozně ekonomické fakulty ČZU v Praze pomocí grantu Celouniverzitní Grantové Agentury ČZU v Praze (grant r.č. 20091007 s názvem “Aplikace elektronického sběru dat pomocí webového rozhraní na socio–ekonomický výzkum významnosti rekreační funkce lesa”). 

      .right
        %a.button{:href => "/first_part/#{@uid}"} Pokračujte ve vyplnění dotazníku 

