#block-text.block
  .content
    %h2 Výpis všech dotazníků

    .inner
      %h3= "Počet dotazníků v systému: %i" % @sheets.size
      %ol.sheets
        - @sheets.each do |sheet|
          %li.sheet
            = "%s vyplněn v %s" % [link_to(sheet.id, '/print/' + sheet.id.to_s), sheet.started_at.strftime("%F %T")]
