.group
  =f.label :finished_at
  =f.error_message_on :finished_at
  =f.text_field :finished_at, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :important_gathering
  =f.error_message_on :important_gathering
  =f.text_field :important_gathering, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :important_wood
  =f.error_message_on :important_wood
  =f.text_field :important_wood, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :purpose_fuel
  =f.error_message_on :purpose_fuel
  =f.text_field :purpose_fuel, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :relation
  =f.error_message_on :relation
  =f.text_field :relation, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :frequency_other
  =f.error_message_on :frequency_other
  =f.text_field :frequency_other, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :once_receive
  =f.error_message_on :once_receive
  =f.text_field :once_receive, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :important_nature
  =f.error_message_on :important_nature
  =f.text_field :important_nature, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :important_ground
  =f.error_message_on :important_ground
  =f.text_field :important_ground, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :time_spent
  =f.error_message_on :time_spent
  =f.text_field :time_spent, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :favorite_place
  =f.error_message_on :favorite_place
  =f.text_field :favorite_place, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :purpose_hobbitry
  =f.error_message_on :purpose_hobbitry
  =f.text_field :purpose_hobbitry, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :note
  =f.error_message_on :note
  =f.text_field :note, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :important_climate
  =f.error_message_on :important_climate
  =f.text_field :important_climate, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :important_water
  =f.error_message_on :important_water
  =f.text_field :important_water, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :purpose_relaxation
  =f.error_message_on :purpose_relaxation
  =f.text_field :purpose_relaxation, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :frequency
  =f.error_message_on :frequency
  =f.text_field :frequency, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :started_at
  =f.error_message_on :started_at
  =f.text_field :started_at, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :important_health
  =f.error_message_on :important_health
  =f.text_field :important_health, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :email
  =f.error_message_on :email
  =f.text_field :email, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :once_payment
  =f.error_message_on :once_payment
  =f.text_field :once_payment, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :purpose_gathering
  =f.error_message_on :purpose_gathering
  =f.text_field :purpose_gathering, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:sheets, :index)}';return false", :class => :button