.block
  %h3 
    =mt(:sheet)
    =pat(:admin)
  .content
    %p
      =t(:basic_sheet_admin_info)
.block
  %h3 Links
  %ul.navigation
    %li=link_to t(:public_list), '/list'
    %li=link_to t(:public_stats), '/stats'
