.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:sheets, :index)
      %li=link_to mt(:finished), "/admin/sheets/finished", :id => 'finished'
      %li=link_to pat(:new), url(:sheets, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:sheet)
    .inner
      %table.table
        %tr
          %th.first=mat(:sheet, :id)
          %th=mat(:sheet, :finished_at)
          %th.last="&nbsp;"
        =partial "sheets/sheet", :collection => @sheets
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("sheets/sidebar")
