.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:sheets, :index)
      %li.active=link_to pat(:new), url(:sheets, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:sheet)
    .inner
      -form_for :sheet, url(:sheets, :create), :class => :form do |f|
        =partial "sheets/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")