id";"started_at";"finished_at";"frequency";"frequency_other";"time_spent";"purpose_gathering";"purpose_hobbitry";"purpose_fuel";"purpose_relaxation";"favorite_place";"once_receive";"once_payment";"important_nature";"important_wood";"important_gathering";"important_water";"important_climate";"important_health";"important_ground";"relation
-@sheets.each do |sheet|
  = sheet.to_csv_line
