!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Dotazník navštěvnosti lesa
    =stylesheet_link_tag "base"
    =stylesheet_link_tag "style"
  %body
    #container
      #header
        %h1=link_to 'Dotazník navštěvnosti lesa', url(:questionnaire_index)
      #wrapper.wat-cf
        #main
          =yield
          #footer
            .block
              %p
                Copyright ©
                =Time.now.year
                Developed on
                =link_to 'laststar', 'http://laststar.eu'
                Questionnaire - Powered by
                =link_to "Padrino v.#{Padrino.version}", "http://padrino.github.com", :target => :_blank

