%html
  %head
    %title Dotazník navštěvnosti lesa
    %link(rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %link(rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
  %body
    #container
      %h1 Dotazník navštěvnosti lesa
      = yield

