!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Dotazník navštěvnosti lesa
    =stylesheet_link_tag "base"
    =stylesheet_link_tag "style"
  %body
    #container
      #header
        %h1=link_to 'Dotazník návštěvnosti lesa', url(:questionnaire_index)
      #wrapper.wat-cf
        #main
          =yield
          #footer
            .block
              %p
                Copyright ©
                =Time.now.year
                Developed on
                =link_to 'laststar', 'http://laststar.eu'
                Questionnaire - Powered by
                =link_to "Padrino v.#{Padrino.version}", "http://padrino.github.com", :target => :_blank
      :javascript

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18297437-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
